<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-android-java-version"
    version="1.0.0">

    <name>cordova-android-java-version</name>
    <description>Java Version setzten bei gradle</description>
    <author>TB</author>

    <engines>
        <engine name="cordova" version=">=6.2.0" />
        <engine name="cordova-android" version=">=6.4.0" />
    </engines>

    <platform name="android">
        <hook type="after_prepare" src="scripts/apply-changes.js" />
        <hook type="before_build" src="scripts/apply-changes.js" />
        <hook type="after_plugin_install" src="scripts/apply-changes.js" />
        <source-file src="properties.gradle" target-dir="cordova-android-java-version" />
        <!-- cordova-android@6-->
        <source-file src="properties.gradle" target-dir="app/cordova-android-java-version" />
        <!-- cordova-android@7-->
    </platform>

</plugin>
